<h2>Eventos </h2>
<hr>

<div class="form-inline">
  <div class="form-groupp mb-2">
    <label class="m-2">filtro: </label>
    <input
    type="text"
    class="form-inline m-2 "
    placeholder="buscar"
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
<!-- <h4>Filtro: {{filtroLista}}</h4>-->
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button  class="btn btn-outline-light btn-sm"
        (click)="alterarImagem()">
          {{exibirImagem ? 'Ocultar Imagem' : 'exibir Imagem'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>QtdPessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!exibirImagem"
              [isAnimated]="true"
        src="/assets/{{evento.imagemUrl}}"
        [style.width.px]="larguraImg"
        [style.margin.px]="margemImg">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm m-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
